a, p, li{
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

body{
    transition: .3s;
}

.underline, .nav-item:hover, .nav-item:focus{
    text-decoration: underline
}

.nav-item:hover, .nav-item:focus{
    background-color: #59D021;
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.nav-item{
    cursor: pointer;
    transition: .2s;
}

span{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

span:hover{
    text-decoration: underline;
}

.container_text{
    background-color: #59D021;
    border-radius: 10px;
    height: fit-content;
}

.button_map{
    color: white;
    background-color: #51BD1F;
    font-weight: bold;
    border-radius: 5px;
    transition: .2s;
}

.button_map:hover, .button_map:focus{
    background-color: #4DAF1A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}